<div class="container">
    <div class="main-timeline">
            <div class="timeline">
                <div class="icon"></div>
                <div class="date-content">
                    <div class="date-outer">
                        <span class="date">
                                <span class="month">Years</span>
                        <span class="year">2019-2020</span>
                        </span>
                    </div>
                </div>
                <div class="timeline-content">
                    <h5 class="title">BAC D &amp; SCIENTIFIQUE</h5>
                    <p class="description">
                    j ai obtenir mon BAC dans la ville de yaounde au college laic la forge  
                    </p>
                </div>
            </div>
            
            <div class="timeline">
                <div class="icon"></div>
                <div class="date-content">
                    <div class="date-outer">
                        <span class="date">
                                <span class="month">1 Years</span>
                        <span class="year">2018-2019</span>
                        </span>
                    </div>
                </div>
                <div class="timeline-content">
                    <h5 class="title">PROBATOIRE D</h5>
                    <p class="description">
                        j ai obtenir mon PROBATOIRE D dans la ville de yaounde au college laic pascal 
                    </p>
                </div>
            </div>
            <!-- end experience section-->

            <!-- start experience section-->
            <div class="timeline">
                <div class="icon"></div>
                <div class="date-content">
                    <div class="date-outer">
                        <span class="date">
                                <span class="month">Years</span>
                        <span class="year">2017-2018</span>
                        </span>
                    </div>
                </div>
                <div class="timeline-content">
                    <h5 class="title">BEPC espanol</h5>
                    <p class="description">
                       
                        j ai obtenir mon BEPC dans la ville de MELONG au college CATHOLIQUE SAINT MICHEL
                    </p>
                </div>
            </div>
            <!-- end experience section-->

            <!-- start experience section-->
            <div class="timeline">
                <div class="icon"></div>
                <div class="date-content">
                    <div class="date-outer">
                        <span class="date">
                                <span class="month"> Years</span>
                        <span class="year">2010-2011</span>
                        </span>
                    </div>
                </div>
                <div class="timeline-content">
                    <h5 class="title">CEP</h5>
                    <p class="description">
                        college CATHOLIQUE SAINT MICHEL
                    </p>
                </div>
            </div>
            <!-- end experience section-->

        </div>
    </div>