<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Template</title>
  <base href="/">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
</head>
<body>
  <app-root>
  </app-root>
  <div class="row">
    <div class="col"><h1>TOUOGANG PHALONE</h1>
    <h4>ETUDIANTE</h4></div>
    <div class="col"> <telephone>694425725</telephone><br>
    <br><email>touogangphalone@gmail.com</email><br>
  <br><address>etougeube</address><br></div>
  </div><br><br>
<div class="row">
  <div class="col"><h3>EDUCATION</h3>
  mes diplomes obtenu</div>
  <div class="col">
    <h5>2011-2012:CEP</h5>MISSION CATHOLIQUE DE MADASCAR
    <h5>2015-2016:BEPC ESP</h5><p>MISSION CATHOLIQUE SAINT MICHELLE</p>
    <h5>2018-2019:PROBATOIRE D</h5><p>COLLEGE PASCAL</p>
    <h5>2020-2021:BAC D</h5><p>COLLEGE LAIC LA FORGE</p>
  </div>
</div>
<div class="row">
  <div class="col"><h3>COMPETENCES</h3>
  se que je fais</div>
  <div class="col">
    <p>programmation en html5,css3,boostrap3</p>
    <p>programmation python</p>
    <p>programmation c#</p>
    <p>programmation java</p>
    <p>retoucharge d image</p>
    <p>montage video</p>
  </div>
</div>
<div class="row">
  <div class="col"><h4>FORMATION</h4>
  ou j ai eu mes formations</div>
  <div class="col">
    <p>ICT4D</p>
    <p>FREELANCE</p>
    <p>OPENCLASSROOM</p>
  </div>
</div> 
<div class="row">
  <div class="col"><h4>EXPERIENCE</h4></div>
  <div class="col"><p>marketine</p>
  <p>coiffure</p>
</div>
</div>
<div class="row">
  <div class="col"><h5>LOISIRS</h5>se que j aime faire</div>
  <div class="col">
    <p>la patiserie</p>
    <p>cuisiner</p>
    <p>lire</p>
    <p>dancer</p>
    <p>chanter</p>
  </div>
</div>
</body>
</html>
