/* You can add global styles to this file, and also import other style files */

  .row {
    display: flex;
  }
  .col {
    flex: 1; 
    padding: 1em;
    border:0em;
  }

  .row {
    display: flex;
  }
  .col {
    flex: 1; 
    padding: 1em;
    border:0em;
  }
  .row {
    display: flex;
  }
  .col {
    flex: 1; 
    padding: 1em;
    border:0em;
  }
  .row {
    display: flex;
  }
  .col {
    flex: 1; 
    padding: 1em;
    border:0em;
  }
  .row {
    display: flex;
  }
  .col {
    flex: 1; 
    padding: 1em;
    border:0em;
  }
  .row {
    display: flex;
  }
  .col {
    flex: 1; 
    padding: 1em;
    border:0em;
  }