<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1>Upload image</h1>
  <input type="file" (change)="onFileSelected($event)">
  <button type="button" (click)="onUpload">Upload</button>
  
  <br></br>
  <br></br>
  <br></br>
  <br></br>

  <form [formGroup]="form">
    <label for="color"></label>
    <input type="color" name="color" formControlName="theme" />
  </form>
  <p-tabview>

    <p-tabPanel header="CV" >
      <div [style.background]="color" class="grid">
        <div class="col-12 md:col-6 lg:col-3 sm:flex-nowrap">
          <p-card >
            <app-information></app-information>

            <br />

            <app-resume></app-resume>
          </p-card>
        </div>
      </div>
      <div class="col-10 md:col-6 lg:col-9" x>
        <p-card [ngstyle]="{ background: color }">
          <div class="p-2">
            <app-diploma></app-diploma>
          </div>
        </p-card>
      </div>
    </p-tabPanel>
  </p-tabview>
</body>
</html>
